/* Global Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;  
    
    box-sizing: border-box;
}

    /* global */
.titles {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: #444;
}

.all-p {
    font-size: 1.8rem;
    padding: 0 5%;
    font-weight: 300;
}
    /* Header section */

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(2, 88, 168, 0.8), 
        rgba(0, 40, 78, 0.8)), 
    url('https://images.unsplash.com/photo-1496260106735-0ebe74742400?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1018&q=80');
    background-position: top;
    background-size: cover;
    position: relative;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.heading-primary--main {
    font-size: 6rem;
    text-transform: capitalize;
    animation: moveInLeft 1s ease-out;
}

.heading-paragraph {
    font-size: 1.8rem;
    font-weight: 300;
    animation: moveInRight 1s ease-out;
}

    /* header animation */

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

    /* BTN animation */

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/* Call to action */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after {
    background-color: #fff;
}

.btn--animated { 
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}

    /* Our vision section */

.section___our-vision {
    margin-top: 5rem;
}
